 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* WRAPPER */
.wrapper{
    width: 100%;
    height: 100vh;              
    display: flex;
    align-items: center;          
    flex-wrap: wrap;  /* Responsive ke liye */
  justify-content: flex-start;
}

 .wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/bg.jpg") center / cover no-repeat;
    filter: blur(8px);        
    transform: scale(1);    
    z-index: 1;
}

/* OPTIONAL DARK OVERLAY */
.wrapper::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 2;
}

.container{
    position: relative;
    z-index: 3;
}
.leftcard{
    position: relative;
    width: 380px;
    height: 480px;
    background: #f5723a;  
    border-radius: 0 240px 240px 0;
    margin-left: 350px; 
}

.shoe-img img {
  width:590px;
  transform: scaleX(-1)rotate(-2deg);
  margin-left:-140px;
  z-index: 10;
  margin-top: 60px;
}

.rightcard{

  width: 660px;
  height: 480px;
  background-color: #060d1c; /* ya jo bhi dark blue shade aapka card use karta ho */
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
  margin-left: 500px; 
  margin-top: -480px;
}
    
.rightcard header {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 15px 20px;             
  position: sticky;              
  top: 0;                       
  z-index: 100;                
}

.rightcard header h3 {
  font-size: 1.5rem;
  color: #f5723a;
  margin-left: 220px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.rightcard header i {
  margin-left: 25px;            
  font-size: 1.2rem;
  cursor: pointer; 
}

.rightcard header .icons {
  display: flex;                
  align-items: center;
  color: white;
}

.collection h4{
  color: rgb(226, 220, 220);
  margin-left: 245px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 50px;
  letter-spacing: 2px;
}

.collection h1{
  color: rgb(226, 220, 220);
  margin-left: 243px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight:normal;
}

.price{
  color: rgb(226, 220, 220);
  margin-left: 245px;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 20px;
}

.new-price{
  font-size: 33px;
}

.old-price{
  text-decoration: line-through;
  text-decoration-color:red;
  margin-right: 10px;
  font-size: 25px;
}


.size-options {
  display: flex;
  align-items: center;
   gap: 20px;
  margin-bottom: 15px;
 margin-top: 30px;
}

.option-title {
  font-weight: 600;
  margin-left: 245px;
  color: #f0e9e9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.option {
  padding: 6px 12px;
  color:rgb(226, 220, 220);
  font-size: 23px;
}


.color-options{ 
  margin-top: 30px;
   gap: 40px;
  display: flex;
  align-items: center;
}

.color-options span{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.option-yellow{
  background-color: yellow;
}

.option-white{
  background-color: #eaecf1;
}

.option-blue{
  background-color: rgb(51, 110, 205)
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
   margin-left: 245px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Buy Now */
.buy-now {
  background-color: #000;
  color: #fff;
}

.buy-now:hover {
  background-color: #333;
}

/* Add to Cart */
.add-cart {
  background-color: #070606;
  color: #faf8f8;
}

.add-cart:hover{
  background-color:#333;
}

